inspect313==0.1.0
Telethon==1.34.0
datetime
asyncio
youtube-search-python
youtube-search
telegraph
apiclient
aiohttp
opencv-python==4.9.0.80
numpy
bs4
apscheduler
Profanitydetector
qrcode
pytz
htmlwebshot
yt-dlp
akinator
safety==3.1.0
GitPython
https://github.com/New-dev0/Telethon/archive/platy.zip
python-decouple
python-dotenv
requests
python-telegram-bot==20.8
pyaes
rsa
cryptg
pysocks
python-socks[asyncio]
hachoir
pillow
pytest
pytest-cov
pytest-asyncio
heroku3
