pyrogram
tgcrypto
pymongo[srv]
motor
dnspython
aiosqlite
environs
akinator
wheel
pygments
ffmpeg-python
pytube
click
enhancer>=0.3.4
git+https://github.com/New-dev0/instagrapi.git@39df1b1#egg=instagrapi
https://github.com/New-dev0/Telethon/archive/platy.zip
git+https://github.com/buddhhu/img2html.git@c44170d#egg=img2html
google-api-python-client
htmlwebshot
lottie
lxml
numpy>=1.21.2
oauth2client
opencv-python-headless
pillow>=7.0.0
profanitydetector
psutil
pypdf2>=1.26.0
pytz
qrcode
requests
tabulate
inspect313==0.1.0
datetime
asyncio
youtube-search-python
youtube-search
telegraph
apiclient
aiohttp
opencv-python==4.9.0.80
numpy
bs4
apscheduler
Profanitydetector
qrcode
pytz
htmlwebshot
yt-dlp
akinator
GitPython
python-decouple
python-dotenv
requests
python-telegram-bot==20.8
pyaes
rsa
cryptg
pysocks
python-socks[asyncio]
hachoir
pillow
pytest
pytest-cov
pytest-asyncio
heroku3
