opencv-python==4.9.0.80
telethon==1.34.0
httpx==0.26.0
libcst==1.3.1
pyrogram
tgcrypto==1.2.5
pymongo[srv]
motor==3.4.0
dnspython==2.6.1
aiosqlite==0.20.0
aiosqlite3==0.3.0
environs==11.0.0
wheel==0.43.0
pygments==2.17.2
ffmpeg-python
pytube2==15.0.6
click==8.1.6
enhancer>=0.3.4
google-api-python-client==2.125.0
htmlwebshot==0.1.2
lottie==0.7.0
lxml==5.1.0
numpy>=1.25.4
oauth2client
opencv-python-headless
pillow==10.3.0
profanitydetector
psutil==5.9.8
pypdf2>=3.0.1
pytz==2024.1
qrcode==7.4.2
requests
tabulate==0.9.0
inspect313==0.1.0
datetime
asyncio
youtube-search-python==1.6.6
youtube-search2==2.1.6
telegraph
apiclient
aiohttp==3.9.3
bs4==0.0.2
apscheduler==3.10.4
yt-dlp
GitPython
python-decouple
python-dotenv
python-telegram-bot==20.8
pyaes
rsa
cryptg
pysocks
python-socks[asyncio]
hachoir
pillow
pytest
pytest-cov
pytest-asyncio
heroku3==5.2.1
